<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/style.css" />
</head>
<body>
    <footer>
    <hr>
    <div class="L1">
        <div>
            <h3>Real Trust</h3>
        </div>
        <div>
            <img src="/assets/Icons/home.svg" alt="homepng"><a href="">Home</a>
            <img src="/assets/Icons/Frame.svg" alt="fbpng"><a href="">Facebook</a>
            <img src="/assets/Icons/Group.svg" alt="instapng"><a href="">Instagram</a> 
            <img src="/assets//Icons/Group-1.svg" alt="Twitterpng"><a href="">Twitter</a> 
            <img src="/assets/Icons/Linkedin.svg" alt="LinkedIn"><a href="">LinkedIn</a> 
        </div>
    </div>
    <div class="L2">
        <h3>"Affordable , transparent deals"</h3> <img src="/assets/Icons/circle-dollar-sign.svg" alt="dollarpng" />
    </div>
    <div class="L3">
        <h3>Designed with &#10084; <img src="/assets/Icons/paintbrush-2.svg" alt="brushpng" > by Mahima Sharma</h3>
    </div>
    <div class="L4">
        <h3> @ 2025 SafeRoof. All rights reserved</h3>
    </div>
    <hr>
    </footer>
</body>
</html>